* {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	margin:0px;
	padding:0px;
}

#controller {
	float:left;
	width:200px;
	border:2px solid #000;
}

#connection {
	width:180px;
	margin:10px;
}

#dList {
	list-style:none;
	list-style-image:none;
}

#dList li {
	padding:3px;
	margin:5px;
	width:150px;
	background:#CCC;
	color:#666;
}

#dlist .device {
	opacity:0;
}